html {
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 2rem;
    font-family: '-apple-system', 'HelveticaNeue', sans-serif;
}

#welcome {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 6rem 0;
}

#userList {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: auto;
    background-color: rgba(240, 240, 240, 0.6);
    -webkit-backdrop-filter: blur(0.6rem);
    border-radius: 0.75rem;
}

.user {
    font-weight: 600;
    font-size: 1.1rem;
    width: 3rem;
    margin: 0.5rem;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    background: dodgerblue;
    color: #FFFFFF;
}

.user:hover {
    cursor: pointer;
}

.backgroundWrapLogged {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.backgroundWrapLogIn {
    background-image: url("visual/backgrounds/kitty.png");
    z-index: -1;
    position: absolute;
    top: 10rem;
    height: 60vh;
    width: 90vw;
    background-repeat: no-repeat;
}

@media (prefers-color-scheme: light) {
    @media (max-height: 1440px) {
        .backgroundWrapLogged {
            background-image: url("visual/backgrounds/ios14light_1920.jpg");
        }
    }

    @media (min-height: 1441px) {
        .backgroundWrapLogged {
            background-image: url("visual/backgrounds/ios14light_full.jpg");
        }
    }
}

@media (prefers-color-scheme: dark) {
    @media (max-height: 1440px) {
        .backgroundWrapLogged {
            background-image: url("visual/backgrounds/ios14dark_1920.jpg");
        }
    }

    @media (min-height: 1441px) {
        .backgroundWrapLogged {
            background-image: url("visual/backgrounds/ios14dark_full.jpg");
        }
    }
}

#userAndLogout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

#logoutButton {
    width: 2rem;
    height: 2rem;
}

#logoutButton:hover {
    cursor: pointer;
}

#activeUser {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 2rem;
}

#navContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#navbar, #addSpendingButtonContainer {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    font-weight: 500;
    border-radius: 0.5rem;
    background-color: rgba(215, 215, 215, 0.4);
    -webkit-backdrop-filter: blur(0.6rem);
}

#addSpendingButton {
    padding: 0.6rem 0.8rem;
    margin: 0.35rem;
    color: #FFFFFF;
}

#navbar {
    margin-right: 1rem;
}

@media (prefers-color-scheme: dark) {
    #navbar, #addSpendingButtonContainer {
        background-color: rgba(120, 120, 120, 0.4);
    }
}

#navbar > div {
    padding: 0.6rem 1.75rem;
    margin: 0.35rem;
    color: #FFFFFF;
}

#navbar > div:hover, #addSpendingButton:hover {
    cursor: pointer;
}

.activeButton {
    border-radius: 0.3rem;
    background-color: rgba(220, 220, 220, 0.5);
    -webkit-backdrop-filter: blur(0.5rem);
}

@media (prefers-color-scheme: dark) {
    .activeButton {
        background-color: rgba(150, 150, 150, 0.5);
    }
}

#active {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

#lastWeekBlock, #lastMonthBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#lastWeekBlockTitle, #lastMonthBlockTitle {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0.2rem;
}

#lastWeekBlockBottom, #lastMonthBlockBottom {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
}

#spendings, #overviewBlocks {
    width: 45rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.spending, #lastWeekBlock, #lastMonthBlock {
    width: 18rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.6rem;
    background-color: rgba(220, 220, 220, 0.5);
    -webkit-backdrop-filter: blur(1.5rem);
    color: #FFFFFF;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (prefers-color-scheme: dark) {
    .spending, #lastWeekBlock, #lastMonthBlock {
        background-color: rgba(150, 150, 150, 0.5);
    }
}

.spending:hover, #lastWeekBlock:hover, #lastMonthBlock:hover {
    cursor: pointer;
}

.sharing, .spendingTop, .spendingMiddle, .spendingBottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sharing {
    margin-bottom: 0.2rem;
    font-size: 0.85rem;
}

.sharingNotice {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.sharingSymbol {
    margin-right: 0.3rem;
    font-weight: 700;
    color: green;
}

@media (prefers-color-scheme: dark) {
    .sharingSymbol {
        color: limegreen;
    }
}

.fromTo {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.spendingArrow {
    font-weight: 700;
    margin: 0 0.3rem;
    color: green;
}

@media (prefers-color-scheme: dark) {
    .spendingArrow {
        color: limegreen;
    }
}

.spendingTop {
    font-weight: 700;
    font-size: 1.1rem;
}

.spendingPrice {
    white-space: nowrap;
}

.spendingPortion {
    font-size: 0.85rem;
}

.spendingMiddle, .spendingBottom {
    align-items: flex-end;
}

.merchantLogo {
    width: 4rem;
}

#spendingForm {
    padding: 1rem;
    border-radius: 0.5rem;
    color: #FFFFFF;

    background-color: rgba(220, 220, 220, 0.5);
    -webkit-backdrop-filter: blur(0.5rem);
}

select, input {
    font-size: 1rem;
}

label {
    font-weight: 500;
}

.formPair {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.4rem;
}

#submitButton {
    text-align: center;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    margin-top: 1rem;
    background-color: rgba(235, 235, 235, 0.5);
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1.1rem;
    border-radius: 0.35rem;
}

@media (prefers-color-scheme: dark) {
    #spendingForm {
        background-color: rgba(150, 150, 150, 0.5);
    }
}

@media screen and (max-width: 50rem) {
    body {
        margin: 1rem;
    }

    #welcome {
        font-size: 2.5rem;
        font-weight: 700;
        margin-top: 5vh;
        margin-bottom: 15vh;
    }

    #userList {
        margin: 0;
        position: fixed;
        bottom: 4rem;
    }

    .user {
        margin: 0.35rem;
    }

    #header {
        width: 100%;
    }

    #content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    #navContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #navbar {
        margin: 0;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #navbar > div {
        padding: 0.3rem 0;
        margin: 0.2rem;
        width: 23%;
        text-align: center;
        color: #FFFFFF;
    }

    #active {
        width: 100%;
        justify-content: center;
        margin-top: 1rem;
    }

    .activeButton {
        border-radius: 0.35rem;
    }

    #lastWeekBlock, #lastMonthBlock, .spending {
        width: 100%;
        margin: 1rem 0 0 0;
        justify-self: center;
    }

    #addSpendingButtonContainer {
        position: fixed;
        bottom: 1rem;
        right: 1rem;
        z-index: 1;
        border: 0.1rem solid #ebebeb;

        background-color: rgba(170, 170, 170, 0.5);
    }

    #addSpendingButton {
        margin: 0.2rem;
        padding: 0.5rem;
    }

    #addSpendingButton.activeButton {
        padding: 0.7rem;
        margin: 0;
        border-radius: 0.4rem;
    }

    #formContainer {
        position: fixed;
        bottom: 5rem;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #formPageTitle {
        font-size: 1.75rem;
        font-weight: 600;
    }

    #spendingForm {
        margin: 0 1rem;
        width: 100%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #addSpendingForm {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    #spendingName, #spendingPrice {
        width: 100%;
        box-sizing: border-box;
        border-radius: 0.5rem;
        height: 2.5rem;
        border: unset;
        margin-top: 1rem;
    }

    #formPageContent {
        width: 100%;
    }

    #spendingPortions {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #merchantList, #friendsList {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    span {
        display: inline-block;
        text-align: center;
    }

    .merchantButton, .portionButton, .friendButton {
        width: 45%;
        margin: 0.2rem;
        padding: 0.4rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.5rem;

        background-color: rgba(220, 220, 220, 0.5);
        -webkit-backdrop-filter: blur(0.5rem);
    }

    .merchantButton:hover, .portionButton:hover, .friendButton:hover {
        cursor: pointer;
    }

    .selectedMerchantButton, .selectedPortionButton, .selectedFriendButton {
        background-color: rgb(240, 240, 240);
        color: dodgerblue;
    }

    .portionButton {
        padding: 0.2rem 0.5rem;
    }

}

@media screen and (max-width: 320px) {
    body {
        margin: 0.75rem;
    }

    #navbar > div {
        padding: 0.3rem 0.25rem;
        width: unset;
    }
}

